USE [master]
GO
/****** Object:  Database [VideoSys]    Script Date: 5/4/2020 12:27:40 PM ******/
CREATE DATABASE [VideoSys]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VideoSys_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\VideoSys.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VideoSys_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\VideoSys.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VideoSys].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VideoSys]
GO
/****** Object:  Table [dbo].[Table_Customer]    Script Date: 5/4/2020 12:27:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Customer](
	[C_ID] [int] IDENTITY(1,1) NOT NULL,
	[C_Name] [varchar](50) NULL,
	[C_Contact] [varchar](50) NULL,
	[C_Address] [varchar](50) NULL,
 CONSTRAINT [PK_Table_Customer] PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Rental]    Script Date: 5/4/2020 12:27:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Rental](
	[R_ID] [int] IDENTITY(1,1) NOT NULL,
	[C_ID] [int] NULL,
	[V_ID] [int] NULL,
	[Issue_Date] [varchar](50) NULL,
	[Return_Date] [varchar](50) NULL,
 CONSTRAINT [PK_Table_Rental] PRIMARY KEY CLUSTERED 
(
	[R_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Video]    Script Date: 5/4/2020 12:27:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Video](
	[V_ID] [int] IDENTITY(1,1) NOT NULL,
	[V_Title] [varchar](50) NULL,
	[V_Ratting] [varchar](50) NULL,
	[V_Year] [varchar](50) NULL,
	[V_Cost] [int] NULL,
	[V_Copies] [int] NULL,
	[V_Plot] [varchar](50) NULL,
	[V_Genre] [varchar](50) NULL,
 CONSTRAINT [PK_Table_Video] PRIMARY KEY CLUSTERED 
(
	[V_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Table_Customer] ON 

INSERT [dbo].[Table_Customer] ([C_ID], [C_Name], [C_Contact], [C_Address]) VALUES (1, N'qww', N'123', N'papa')
SET IDENTITY_INSERT [dbo].[Table_Customer] OFF
SET IDENTITY_INSERT [dbo].[Table_Rental] ON 

INSERT [dbo].[Table_Rental] ([R_ID], [C_ID], [V_ID], [Issue_Date], [Return_Date]) VALUES (1, 1, 1, N'05/01/2020', N'issue')
INSERT [dbo].[Table_Rental] ([R_ID], [C_ID], [V_ID], [Issue_Date], [Return_Date]) VALUES (2, 1, 1, N'5/1/2020', N'5/1/2020')
SET IDENTITY_INSERT [dbo].[Table_Rental] OFF
SET IDENTITY_INSERT [dbo].[Table_Video] ON 

INSERT [dbo].[Table_Video] ([V_ID], [V_Title], [V_Ratting], [V_Year], [V_Cost], [V_Copies], [V_Plot], [V_Genre]) VALUES (1, N'singham', N'2.3', N'2019', 5, 3, N'good', N'wqwe')
SET IDENTITY_INSERT [dbo].[Table_Video] OFF
USE [master]
GO
